<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ pageTitle }}</title>
        <script type="text/javascript" language="javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script type="text/javascript" language="javascript" src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" language="javascript" src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.20/css/dataTables.bootstrap4.min.css">
</head>
<body>
    <div class="d-flex justify-content-center py-4">
        <div id="tableContainer" style="width: 70%;">
            <form action = "{{ formAction }}" method = "POST">
                {% for label, name in fields %}
                    <div class="input-group mb-1">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon1">{{ label }}</span>
                        </div>
                        <input type="text" class="form-control" name="{{ name }}">
                    </div>
                {% endfor %}
                <button type="submit" class="btn btn-primary mt-3">{{ pageTitle }}!</button>
            </form>
        </div>
    </div>
</body>
</html>