<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ tableName }}</title>
    <script type="text/javascript" language="javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script type="text/javascript" language="javascript" src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" language="javascript" src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.20/css/dataTables.bootstrap4.min.css">

    <script type="text/javascript" class="init">
        $(document).ready(function() {
            $('#projectsTable').DataTable();
        } );
    </script>
</head>
<body>
    <div class="d-flex justify-content-center py-4">
        <div id="tableContainer" style="width: 90%;">
            <table id="projectsTable" class="table table-striped table-bordered table-sm table-condensed">
                <thead>
                    {% for col in header %}
                        <th>{{ col }}</th>
                    {% endfor %}
                </thead>
                <tbody>
                    {% for row in data %}
                        <tr>
                        {% for d in row %}
                            <td>{{ d }}</td>
                        {% endfor %}
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</body>
</html>